<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <th> username</th>
            <th> email </th> 
        </tr>
        <tr>
            <td><a href="/chat" target="_blank">\{{user1}}</a></td>
            <td>{{email1}}</td>
        </tr>
        <tr>
            <td>{{user2}}</td>
            <td>{{email2 }}</td>
        </tr>
        <tr>
            <td>{{user3}}</td>
            <td>{{email3}}</td>
        </tr>
    </table>


</body>
</html>